


textarea{
    background: transparent;
    border: none;
    resize: none;
    color: #000000;
    
    padding: 10px;
  }

  .row {
    border-top: 5px solid rgb(120, 255, 194);
  }
    


  .saveBtn {
    background-color: skyblue;
    color: white;

  }

 

  .past textarea {
    background-color: red; /* sets the background of past textareas to red */
  }
  
  .present textarea {
    background-color: yellow; /* sets the background of present textareas to yellow */
  }
  
  .future textarea {
    background-color: green; /* sets the background of future textareas to green */
  }
  