


textarea{
    background: transparent;
    border: none;
    resize: none;
    color: #000000;
    
    padding: 10px;
  }

  .row {
    border-top: 5px solid red;
  }
    


  .saveBtn {
    background-color: skyblue;
    color: white;

  }

  .hour {
    background-color: #bababa;
    color: #000000;
    
  }